{% extends 'base.html' %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-6">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis provident ducimus incidunt dicta aliquam nesciunt quod laudantium tempore iusto ab veritatis, aperiam iste aspernatur quisquam consequuntur, accusamus ipsam magni perferendis ullam recusandae inventore? Cupiditate fugit recusandae reiciendis libero placeat esse saepe suscipit, sit eveniet ratione natus totam similique distinctio quas repudiandae ipsa excepturi sunt est nam molestias quibusdam dicta ab. Maiores provident reiciendis non porro ipsam vitae amet quas temporibus, molestiae odit laborum debitis voluptas quisquam esse ullam incidunt repellat ipsa quae sunt explicabo a? Perferendis, reprehenderit ab aspernatur id voluptatem explicabo cum reiciendis. Facere ipsam expedita, autem neque temporibus sequi impedit a ut nihil architecto! Numquam, excepturi autem omnis explicabo sint natus quibusdam, voluptatum molestias non dolor, porro ab.</p>
            </div>
            <div class="col-6">
                {{ div_survived_chart|safe }}
            </div>
        </div>
        <div class="row mt-5">
            {{ div_title_chart|safe }}
        </div>
        <div class="row mt-5">
            {{ div_hist_age|safe }}
        </div>
    </div>

    {{ script_survived_chart|safe }}
    {{ script_title_chart|safe }}
    {{ script_hist_age|safe }}
{% endblock %}